/* .main-content {
  margin-left: 240px;
  padding-top: 80px;
  padding: 24px;
  background: #f6f8fb;
  min-height: 100vh;
} */

.layout {
  display: flex;
  min-height: 100vh;
  background: #f5f6f8;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-content {
  padding: 24px;
}
